* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
   width: 500px;
   height: 650px;
   background-color: beige;
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   border: 2px solid black;
}

.previous {
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    border: 2px solid black;
}

.current {
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-size: 50px;
    border: 2px solid black;
}

.button-container {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid black;
}

.clear {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.equal {
    grid-column: 3 / 5;
}